body {
    font-family: sans-serif;
    padding: 20px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
    }
    th {
      cursor: pointer;
      background-color: #f0f0f0;
    }
    th, td {
      padding: 10px;
      border: 1px solid #ccc;
      text-align: left;
    }
.minus-button {
  margin-left: 10px;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.minus-button:hover {
  background: #e60000;
}
